@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 51, 67, 89; /* Updated start color */
  --background-end-rgb: 51, 67, 89;   /* Updated end color for a solid background */
}

/*

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
#profile{
  background-color:rgb(51,67,89);
}

#skills{
  background-color:rgb(51,67,89);
}

#container{
  padding: 0 90px;
}


@media (min-width: 1025px) {
  .custom-translate-skills {
    transform: translate(30px, -60px);
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
       (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .custom-translate {
    transform: translateX(200px);
  }
}

@media (min-width: 1025px) {
  .custom-translate {
    transform: translateX(420px);
  }
}

.section-heading {
  position: relative;
  font-weight: 600;
  padding: 0 90px;
  
}

@media (max-width: 768px) {
  .ignore-padding {
    margin-left: -50px; 
    width: 100%;
  }
}

.gradient-box-js {
  border: double 3px transparent;
  background-image: linear-gradient(rgb(51,67,89), rgb(51,67,89)), radial-gradient(circle at top, rgb(247, 247, 72),#334359);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.gradient-box-java {
  border: double 3px transparent;
  background-image: linear-gradient(rgb(51,67,89), rgb(51,67,89)), radial-gradient(circle at top, rgb(247, 81, 59),#334359);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}







/*
body {
  background-color: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  height: 100vh; 
}
*/ 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

